@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 17, 24, 39;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #088f8f;
    border-radius: 50%;
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #088f8f;
    border-radius: 50%;
    cursor: pointer;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.button-highlight {
    background-color: white;
    color: rgb(var(--background-rgb));
}
